{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <script type=text/javascript src="{{ url_for('static', filename='jquery/1.10.2/jquery.min.js') }}"></script>
{% endblock %}
{% block section %}
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript>
        $(function () {
            $('button#calculate').bind('click', function () {
                $.getJSON($SCRIPT_ROOT + '{{ url_for("query.query") }}', {
                    name: $('input[name="name"]').val(),
                    address: $('input[name="address"]').val(),
                    phone: $('input[name="phone"]').val(),
                    email: $('input[name="email"]').val(),
                    nativeplace: $('input[name="nativeplace"]').val(),
                    nation: $('input[name="nation"]').val(),
                    identity: $('input[name="identity"]').val()
                }, function (data) {
                    if(data.error){
                    $('p#search-result').text(data.error).css({"color":"red"})}
                   else{
                       var tbhtml = "<tr><th>姓名</th><th>出生年月</th><th>性别</th></tr>";
                        for(var i = 0;i<datas.length;i++){
                                tbhtml+="<tr><td>"+datas[i].name+"</td><td>"+datas[i].age+"</td><td>"+datas[i].sex+"</td></tr>";
                        }
                    }
                });
                return false;
            });
        });
    </script>
    <div id="search">
        <form name="form-search" method="post">
            <h1>人员信息查询</h1>
            <p><span>名字：</span><input type=text size=10 name='name'></p>
            <p><span>地址：</span><input type="text" size=20 name='address'></p>
            <p><span>手机：</span><input type=text size=20 name='phone'></p>
            <p><span>邮箱：</span><input type=text size=20 name='email'></p>
            <p><span>籍贯：</span><input type=text size=10 name='nativeplace'></p>
            <p><span>民族：</span><input type=text size=10 name='nation'></p>
            <p><span>身份证：</span><input type=text size=20 name='identity'></p>
            <p>
                <button id=calculate>查询</button>
                <button type="reset">重置</button>
            </p>

        </form>
    </div>
{% endblock %}
{% block aside %}
<div id="result"><p id="search-result">搜索后这里将会被改变！</p></div>
    <table border="1px solid">
                <tr>
                    <th>姓名</th>
                    <th>身份证号</th>
                    <th>电话</th>
                    <th>地址</th>
                    <th>籍贯</th>
                    <th>学历</th>
                    <th>电话</th>
                  </tr>
            </table>
{% endblock %}
