<!DOCTYPE html>
<html lang="en">
<head>{% block head %}
    {% include 'includes/_head.html' %}
{% endblock head %}
</head>
<body>
<header>{% block header %}{% endblock %}</header>
<div>
    <nav>{% block content %}{% endblock %}</nav>
</div>
<section>{% block section %}
    {% for item in items %}
        <li>{% block loop_item scoped %}
            {{ item }}
        {% endblock %}</li>
    {% endfor %}

{% endblock %}</section>
<article>{% block article %}

{% endblock %}</article>
<aside>{% block aside %}

{% endblock %}</aside>
<footer>{% block footer %}
    {% set zkz='zkz' %}
    <p>Posted:{{ zkz|capitalize }}</p>
    <p>Contact with:<a href="gxkongzhou@163.com" rel="external nofollow">gxkongzhou@163.com</a></p>
{% endblock %}</footer>
</body>
</html>