<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title></head>
<body>
<script>
    function alertbox() {
        alert("函数虽然在前面，但是确实从按钮中实现的")
    }

    function myfunction() {
        document.getElementById("new").innerHTML = "对话框实现了新的内容"
    }

   <!-- alert("请按下按钮实现弹出框的显示")-->
</script>
<p>第一行</p>
<p>第二行</p>
<p id="new">"这永远永远永远永远以后"</p>
<button type="button" onclick="myfunction()">"更换第三行的内容"</button>
<button type="button" onclick="alertbox()">"警告"</button>
<a href="/static/background.jpg">{{ name }}相片</a>
<div>
    <form name="form1" id="form1" enctype="multipart/form-data" style="border: black" autocomplete="on">
        用户名：<br/><input type="text"
                        name="user"/><br/>

        密码：<br/><input type="password" name="password"/><br/><input type="submit" value="提交" formtarget="_blank"
                                                                    formaction="http://localhost:5000/speediness"
                                                                    formmethod="post"/>
    </form>
</div>
</body>
</html>